<div class="free-stories">
    <hr />
    <h4 class="fancy center">Learn more about these free stories</h4>
    <div class="row">
        <div class="col">
            <figure class="kg-card kg-image-card kg-card-hascaption center">
                <img class="kg-image"
                    loading="lazy"
                    src="https://images.matthewrasnake.com/cover-mockup_rpweekending@2x-300x273.png"
                    alt="&quot;Weekending&quot; cover image"
                    srcset="
                        https://images.matthewrasnake.com/cover-mockup_rpweekending@2x-200x182.png 200w,
                        https://images.matthewrasnake.com/cover-mockup_rpweekending@2x-300x273.png 300w,
                        https://images.matthewrasnake.com/cover-mockup_rpweekending@2x-768x699.png 768w,
                        https://images.matthewrasnake.com/cover-mockup_rpweekending@2x.png 1000w"
                    sizes="(min-width: 1000px) 40vw, 96vw" />
            </figure>
            <h5 class="center">
                The Rogue Planet Series
                <small><br />For the Not-kid Types</small>
            </h5>
            <p><em>Rogue Planet</em>&nbsp;is an upcoming near-future sci-fi disaster novel featuring Mel Barber and Leala Pendrova who must survive a dying Earth and an unforgiving Mars long enough to save their families and preserve humanity. The novel is currently out on query with several agents, and book two is in active development.</p>
            <p>The short story&nbsp;<em>Weekending</em>&nbsp;(~5k words) is set concurrent with the events of&nbsp;<em>Rogue Planet</em>, and featuring characters from the novel.</p>
            <p>College buddies Nolan, Tom, and Grant set out for a weekend of camping in the mountains of northern California, anticipating a couple quiet days of fishing, reminiscing, and carousing. Everything’s going well until they’re roused from their tent on the first night to find that the sky, the mountain, and the Earth herself have turned against them.</p>
        </div>
        <div class="col">
            <figure class="kg-card kg-image-card kg-card-hascaption center">
                <img class="kg-image"
                loading="lazy"
                src="https://images.matthewrasnake.com/cover-mockup_astuv@2x-300x288.png"
                alt="&quot;The Astronauts Sam and the Unexpected Visitor&quot; cover image"
                srcset="
                    https://images.matthewrasnake.com/cover-mockup_astuv@2x-200x192.png 200w,
                    https://images.matthewrasnake.com/cover-mockup_astuv@2x-300x288.png 300w,
                    https://images.matthewrasnake.com/cover-mockup_astuv@2x-768x738.png 768w,
                    https://images.matthewrasnake.com/cover-mockup_astuv@2x.png 1000w"
                sizes="(min-width: 1000px) 40vw, 96vw" />
            </figure>
            <h5 class="center">
                The Astronauts Sam Series
                <small><br />For the Kid Types</small>
            </h5>
            <p><em>The Astronauts Sam</em>&nbsp;is a series of stories for kids of all ages intended to help develop new readers interested in space, science, exploration, and play while demonstrating the values of friendship, helpfulness, hopefulness, and compassion. A picture book and an early reader are in active development, with everything from board books to young adult novels to come.</p>
            <p><em>The Unexpected Visitor</em>&nbsp;is a short story (~5k words) meant to introduce adults to the world of the Astronauts Sam.</p>
            <p>Change and uncertainty make Sam anxious, and a stranger crashing their impromptu mission in the middle of snack time is almost too much to accept. While Samantha makes a new friend, their unexpected visitor makes a fascinating discovery, and Sam learns that sometimes something (or someone) different just makes life more interesting.</p>
        </div>
    </div>
    <hr />
    <h4 class="center">Don't Just Take My Word For It&hellip;</h4>
    <div class="testimonials">
        <div class="testimonial">
            <div class="testimonial-text">
                “I read <em>Weekending</em>…omg! I’m hooked! It was a big teaser, but really good. Need to know what happened. Is <em>Rogue Planet</em> out yet?”
            </div>
            <h6 class="testimonial-name">– Cori</h6>
        </div>
        <div class="testimonial">
            <div class="testimonial-text">
                “Loved the <em>Astronauts Sam</em> story! I just read it from start to finish and found it engaging, creative, and charming. Can’t wait to read the next one!”
            </div>
            <h6 class="testimonial-name">- Teresa</h6>
        </div>
        <div class="testimonial">
            <div class="testimonial-text">
                “I loved <em>Weekending</em>, and can’t wait to read <em>Rogue Planet</em> to find out what’s really going on. And the <em>Astronauts Sam</em> story was super cute. I think kids will love it!”
            </div>
            <h6 class="testimonial-name">– Ruthie</h6>
        </div>
    </div>
    <h4 class="center">Claim Your Free Books!</h4>
    <div class="closing">
        <p>When you sign up, you’ll get a welcome email with links to download both stories. Then, as part of your membership, I’ll send occasional email updates including news, stats, or interesting things I’ve dug up during my research; or questions, surveys, giveaways, free stories, or ARCs of upcoming works.</p>
        <p>I’m excited for you to join me on this adventure, and hope you enjoy the stories!</p>
        <div class="fancy center"><a href="javascript:scrollToTop()"><b>Subscribe or Become a Member Today!</b></a></div>
    </div>
</div>
