<div class="post-nav container">
    <div class="item previous">
        {{#prev_post in="primary_tag"}}
            <a class="link" href="{{url}}">
                {{> "icons/double_arrow_left" }} Previous Post
            </a>
        {{/prev_post}}
    </div>
    <div class="item next">
        {{#next_post in="primary_tag"}}
            <a class="link" href="{{url}}">
                Next Post {{> "icons/double_arrow_right" }}
            </a>
        {{/next_post}}
    </div>
</div>