{{!< default}}
{{!-- The tag above means: insert everything in this file
into the {body} of the default.hbs template --}}

{{#get "posts" filter="tag:hash-blog" include="tags" order="published_at desc" limit=@config.posts_per_page as |posts pages| }}
<div class="post-feed">
    {{#foreach posts}}
        {{!-- The tag below includes the markup for each post - partials/post-card.hbs --}}
        {{> "post-card"}}
    {{/foreach}}
</div>
{{/get}}
