{{!< default}}
{{!-- The tag above means: insert everything in this file
into the {body} of the default.hbs template --}}

{{#if @site.description}}
    <header class="page-head">
        <h3 class="page-head-title">{{@site.description}}</h3>
    </header>
{{/if}}

<div class="post-feed home">

    {{#get "pages" filter="tag:hash-books+featured:true" order="published_at desc" include="tags" as |books|}}
        {{#foreach books}}
            {{> post-card book=true}}
        {{/foreach}}
    {{/get}}

    {{#unless @member}}
        {{> "subscribe-form"
            classes="post-card no-image"
            heading="Join the Adventure!"
            description="Get two introductory science-fiction stories for free when you sign up."
            form-type="subscribe"
            show-name=true
            button-name="Subscribe"
            success-text="confirm your subscription"
        }}
    {{/unless}}

    {{#get "posts" filter="tag:blog+featured:true" limit="2" include="tags"}}
        {{#foreach posts}}
            {{> post-card}}
        {{/foreach}}
    {{/get}}

    {{#get "pages" slug="about" as | about |}}
        {{#about}}
            <article class="post-card no-image about">
                <div class="content">
                    {{#if feature_image}}<figure><img src="{{img_url feature_image size="s"}}" alt="Photo of the author" /></figure>{{/if}}
                    <p>{{excerpt}} &mdash;&nbsp;<a href="{{url}}">About Matthew</a></p>
                </div>
            </article>
        {{/about}}
    {{/get}}

</div>
