{{!< default}}

{{#is "home"}}
    {{#if @site.description}}
        <header class="page-head">
            <h2 class="page-head-title">{{@site.description}}</h2>
        </header>
    {{/if}}
{{/is}}

<div class="post-feed">
    {{#foreach posts visibility="all"}}
        {{> "post-card"}}
    {{/foreach}}
</div>
