{{!< default}}

{{#unless @member}}
    {{!-- Not logged in as a member: Redirect home --}}
    <script>window.location = '{{@site.url}}';</script>
{{else}}
    <div class="gh-page">
        <div class="gh-container">
            <div class="free-stories">
                <h4 class="fancy primary center">Thank You!</h4>
                <h6 class="center">Please enjoy your free stories.</h6>
                <hr />
                <div class="row">
                    <div class="col">
                        <p>If you're a fan of near-future science-fiction, gear up to make camp with three old friends who find the mountain less friendly than they expected.</p>
                        <figure class="kg-card kg-image-card kg-card-hascaption center">
                            <img class="kg-image"
                                loading="lazy"
                                src="https://images.matthewrasnake.com/cover-mockup_rpweekending@2x-300x273.png"
                                alt="&quot;Weekending&quot; cover image"
                                srcset="
                                    https://images.matthewrasnake.com/cover-mockup_rpweekending@2x-200x182.png 200w,
                                    https://images.matthewrasnake.com/cover-mockup_rpweekending@2x-300x273.png 300w,
                                    https://images.matthewrasnake.com/cover-mockup_rpweekending@2x-768x699.png 768w,
                                    https://images.matthewrasnake.com/cover-mockup_rpweekending@2x.png 1000w"
                                sizes="(min-width: 1000px) 40vw, 96vw" />
                        </figure>
                        <h5 class="center">
                            Weekending
                            <small><br />A <em>Rogue Planet</em> Short</small>
                        </h5>
                        <p>Set thirty years from now, with humanity on the cusp of colonizing Mars, <em>Weekending</em> (~5k words) is a sci-fi story with the futuristic elements subdued&mdash;it is the story of three friends camping on a remote mountain, and what happens one fateful night.</p>
                        <p><em>Weekending</em> introduces characters from my upcoming novel <em><b>Rogue Planet</b></em> and what they were doing before everything changed.</p>
                        <div class="center">
                            <a href="https://bit.ly/getWeekending" class="button primary">Get the Story!</a>
                        </div>
                    </div>
                    <div class="col">
                        <p>If you have (or know) children who enjoy stories about science, space, astronauts, or rockets (or if you know such children), I hope you'll join <em><b>The Astronauts Sam</b></em> on this short introductory adventure.</p>
                        <figure class="kg-card kg-image-card kg-card-hascaption center">
                            <img class="kg-image"
                            loading="lazy"
                            src="https://images.matthewrasnake.com/cover-mockup_astuv@2x-300x288.png"
                            alt="&quot;The Astronauts Sam and the Unexpected Visitor&quot; cover image"
                            srcset="
                                https://images.matthewrasnake.com/cover-mockup_astuv@2x-200x192.png 200w,
                                https://images.matthewrasnake.com/cover-mockup_astuv@2x-300x288.png 300w,
                                https://images.matthewrasnake.com/cover-mockup_astuv@2x-768x738.png 768w,
                                https://images.matthewrasnake.com/cover-mockup_astuv@2x.png 1000w"
                            sizes="(min-width: 1000px) 40vw, 96vw" />
                        </figure>
                        <h5 class="center">The Astronauts Sam and the Unexpected Visitor</h5>
                        <p>When the Sams set off to visit one of Jupiter's moons, their mission&mdash;and their snacks&mdash;are threatened by an unexpected visitor.</p>
                        <p>This story sets up the world of the Sams, and serves as an introduction for parents to the type of stories I want to tell with these characters. I want <em><b>The Astronauts Sam</b></em> to tell fun stories of growth, excitement, and curiosity, that promote compassion and tolerance without bonking readers on the head.</p>
                        <div class="center">
                            <a href="https://bit.ly/getSamsVisitor" class="button primary">Get the Story!</a>
                        </div>
                    </div>
                </div>
                <hr />
                <p>Thanks so much for choosing to join me on this adventure. Now that you're aboard, you can expect sporadic updates from me about my latest writing projects. I may share sneak peeks, solicit your input or opinions, share exciting news, or maybe just check in from time to time.</p>
                <p>In the meantime, I hope that you will download and enjoy the following stories, which I am thrilled to share with you!</p>
            </div>
        </div>
    </div>
{{/unless}}