/* Fonts
/* ---------------------------------------------------------- */
@font-face {
    font-family:'Venera';
    font-weight: 100;
    font-style: normal;
    font-stretch: normal;
	src: url('/assets/fonts/venera/Venera100.woff2') format('woff2'),
		url('/assets/fonts/venera/Venera100.woff') format('woff');
    unicode-range: U+0020-00FE;
}
@font-face {
    font-family:'Venera';
    font-weight: 300;
    font-style: normal;
    font-stretch: normal;
	src: url('/assets/fonts/venera/Venera300.woff2') format('woff2'),
		url('/assets/fonts/venera/Venera300.woff') format('woff');
    unicode-range: U+0020-00FE;
}
@font-face {
    font-family:'Venera';
    font-weight: 500;
    font-style: normal;
    font-stretch: normal;
	src: url('/assets/fonts/venera/Venera500.woff2') format('woff2'),
		url('/assets/fonts/venera/Venera500.woff') format('woff');
    unicode-range: U+0020-00FE;
}
/* Venera 700 -> critical.css */
@font-face {
    font-family:'Venera';
    font-weight: 900;
    font-style: normal;
    font-stretch: normal;
	src: url('/assets/fonts/venera/Venera900.woff2') format('woff2'),
		url('/assets/fonts/venera/Venera900.woff') format('woff');
    unicode-range: U+0020-00FE;
}
