/* Forms
/* ---------------------------------------------------------- */

form {
    margin: 0 0 var(--margin) 0;
    font-size: var(--font-small);
}
@media (max-width: 980px) {
    form {
        font-size: var(--font-normal);
    }
}

fieldset {
    margin: 0;
    padding: 0;
    border: 0;
}

label {
    color: var(--text);
    display: block;
    font-size: 0.9em;
    font-weight: var(--font-bold);
    margin: 0 0 (var(--margin) * 0.5) 0;
}

input[type="text"],
input[type="password"],
input[type="email"],
input[type="tel"],
input[type="search"],
input[type="url"],
select,
textarea {
    background: var(--field-bg);
    color: var(--field-text);
    border-radius: var(--radius);
    border: none;
    border: solid 1px var(--field-bg);
    display: block;
    outline: 0;
    padding: 0 0.6em;
    text-decoration: none;
    width: 100%;
}

input[type="text"]:invalid,
input[type="password"]:invalid,
input[type="email"]:invalid,
input[type="tel"]:invalid,
input[type="search"]:invalid,
input[type="url"]:invalid,
select:invalid,
textarea:invalid {
    box-shadow: var(--red);
}

input[type="text"],
input[type="password"],
input[type="email"],
input[type="tel"],
input[type="search"],
input[type="url"],
select,
textarea {
    &:focus,
    &:hover {
        border-color: var(--highlight);
        box-shadow: 0 0 0 1px var(--highlight);
        transition: var(--transition);
    }
}

select {
    height: var(--height);
    padding-right: var(--height);
    text-overflow: ellipsis;
}

select option {
    color: var(--field-text);
    background: var(--field-bg);
}

select:focus::-ms-value {
    background-color: transparent;
}

select::-ms-expand {
    display: none;
}

input[type="text"],
input[type="password"],
input[type="email"],
input[type="tel"],
input[type="search"],
input[type="url"],
select {
    height: var(--height);
}

textarea {
    padding: 0.3em 0.6em;
    resize: vertical;
}

input[type="checkbox"],
input[type="radio"] {
    display: block;
    margin-right: -2em;
    opacity: 0;
    width: 1em;
    z-index: -1;

    & + label {
        display: flex;
        align-items: center;
        color: var(--text);
        cursor: pointer;
        font-size: 1em;
        font-weight: var(--font-regular);
        padding-left: calc(calc(var(--height) * 0.6) + 0.75em);
        padding-right: 2rem;
        position: relative;
        user-select: none;

        &:before {
            background: var(--field-bg);
            color: var(--field-bg);
            border-radius: .3em;
            border: solid 1px var(--light-gray);
            content: '';
            display: inline-block;
            height: calc(var(--height) * 0.6);
            line-height: calc(var(--height) * 0.56);
            text-align: center;
            width: calc(var(--height) * 0.6);
            margin-right: 1rem;
        }
    }
    &:hover,
    &:checked{
        & + label:before {
            background: var(--color-primary);
            border-color: var(--color-primary);
            color: var(--color-text-onPrimary);
            content: '✓';
            transition: var(--transition);
        }
    }
    &:focus{
        & + label:before {
            border-color: var(--color-primary);
            box-shadow: 0 0 0 1px var(--color-primary);
        }
    }
}

input[type="radio"] + label:before {
    border-radius: 100%;
}
